<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852414368115-ut94vvm5mstmhvk1ivjq6r3upsjpbkja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852414368115-ut94vvm5mstmhvk1ivjq6r3upsjpbkja</string>
	<key>API_KEY</key>
	<string>AIzaSyCAP9JrFEsPjz-QgnfjabGMEvnvfoVyMi4</string>
	<key>GCM_SENDER_ID</key>
	<string>852414368115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.layout1</string>
	<key>PROJECT_ID</key>
	<string>loginflutter-adbde</string>
	<key>STORAGE_BUCKET</key>
	<string>loginflutter-adbde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852414368115:ios:fad043c720571bc2bb5d06</string>
</dict>
</plist>